{% extends "catalog/base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Вход</h1>
    <form method="POST" action="/login">
        <div class="form-group">
            {{ form.csrf_token }}
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="Ваш email", required=true) }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder="Пароль", required=true) }}
        </div>
        <button type="submit" class="btn">Войти</button>
    </form>
</div>
{% endblock %}
